/* ---------------- LAYOUT ----------------- */
.container {
    max-width: 1000px;
    margin: auto;
}

.container-big {
    max-width: 1200px;
    margin: auto;
}

.container-small {
    max-width: 900px;
    margin: auto;
}

.container-full {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

/* GAP */
.gap-50px {
    gap: 50px;
}


/* JUSTIFY */

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/*----------- COLUMN -----------*/
.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    margin: 20px 0px;
    width: calc(100% / 3 - 35px);
}

.col-33-business {
    width: calc(100% / 3 - 65px);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.col-1-6 {
    width: calc(100%/6);
}

.col-2-6 {
    width: calc(100%/6*2);
    padding-right: 40px;
}

.divisor {
    margin: auto;
    height: 1px;
    width: 70%;
    background-color: #8EA1E1;
    ;
}