/*----------
    RESET 
 ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
   COMMON 
 ----------*/



/*----------
   HEADER 
 ----------*/
header {
    padding: 2rem;
    background-color: #0084FD;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.only-desktop {
    display: none;
}

/*----------
    MAIN
 ----------*/

/* APPLICATION */
.application .col {
    width: 100%;
}

.application .content {
    height: 400px;
    background-color: #B5DDFF;
    padding-top: 20px;
    margin-bottom: 20px;
}

.application .content-big {
    height: 800px;
    margin-top: 60px;
}

.application .content-text {
    height: 60%;
    width: 100%;
    background-color: red;
}

.application .content-img {
    height: 30%;
    width: 100%;
    background-color: green;
}

/* PLANNING */
.planning {
    background-color: #9792E4;
    padding: 50px 0;
}

.planning .row {
    flex-direction: column;
}

.planning .content-right {
    background-color: white;
}

.planning .content-text {
    height: 300px;
    width: 100%;
    background-color: red;
}

.planning .content-img {
    height: 300px;
    width: 100%;
    background-color: green;
}

.planning .content-right {
    padding: 20px;
    margin-top: 20px;
}

/* PARTNERS */
.partners {
    padding: 50px 0;
}

.partners .content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 20px;
    background-color: #9792E4;
}

.partners .content-text {
    height: 300px;
    width: 100%;
    background-color: red;
}

.partners .content-img {
    height: 300px;
    width: 100%;
    background-color: green;
}

/* WHY US */
.why-us {
    padding: 50px 0;
    background-color: #9792E4;
}

.why-us .col {
    width: 100%;
}

.why-us .content {
    height: 400px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}


/*----------
 RESPONSIVE
 ----------*/
/*--- TABLET ---*/
@media screen and (min-width: 480px) {
    /*----------
        MAIN
    ----------*/

    /* APPLICATION */

    .application {
        margin-top: 50px;
    }

    .application .col {
        width: calc(100%/3);
    }

    .application .col:first-child {
        width: calc(100%/3*2);
    }

    .application .content {
        height: 300px;
        margin: 0 10px 30px 10px;
    }

    .application .content-big {
        height: 300px;
        margin-top: 0px;
    }

    /* PLANNING */

    /* PARTNERS */
    .partners .content {
        flex-direction: row;
    }

    /* WHY US */
    .why-us .col {
        margin: 0 10px;
        width: calc(50% - 20px);
    }
}

/*--- DESKTOP ---*/
@media screen and (min-width: 768px) {

    /*----------
       LAYOUT 
    ----------*/
    .container {
        width: 70vw;
    }

    /*----------
       HEADER 
    ----------*/
    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    /*----------
        MAIN
    ----------*/

    /* APPLICATION */

    .application {
        margin-top: 50px;
    }

    .application .content-big {
        display: flex;
    }

    .application .content-left,
    .application .content-right {
        width: 50%;
    }

    .application .content-text {
        height: 60%;
        margin: 0 auto;
    }

    .application .content-img {
        height: 30%;
        margin: 0 auto;
    }

    .application .content-img:last-child {
        background-color: violet;
    }

    /* PLANNING */
    .planning .row {
        flex-direction: row;
    }

    .planning .col {
        margin: 0 20px;
    }

    /* WHY US */
    .why-us .col {
        margin: 0 10px;
        width: calc(100%/3 - 20px);
    }
}