/*----------
    RESET 
 ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
   COMMON 
 ----------*/
:root {
    --primary-color: #2495FD;
    --primary-light-color: #B5DDFF;
    --secondary-color: #9792E4;
    --title-color: #0084FD;
}

.debug header::after {
    content: 'MOBILE';
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
}

h2 {
    color: var(--title-color);
}

/*----------
   HEADER 
 ----------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--primary-color);
}

/* MENU */
.menu .only-mobile {
    filter: invert(100%);
    font-size: 2rem;
}

.logo {}

.menu .only-desktop ul {
    display: flex;
    list-style: none;
}

.menu .only-desktop li {
    padding-left: 20px;
}

.menu .only-desktop a {
    font-size: 1.2rem;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.only-desktop {
    display: none;
}

/*----------
    MAIN
 ----------*/

/* APPLICATION */
.application {
    margin-top: 150px;
}

.application .col {
    width: 100%;
    margin-bottom: 30px;
}

.application .content {
    height: 100%;
    background-color: var(--primary-light-color);
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
}

.application .content-big {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.application .content-text {
    padding: 20px 30px;
}

.application .content-text h2 {
    font-size: 1.8rem;
}

.application .content-text p {
    color: grey;
    font-size: 1rem;
    line-height: 30px;
    padding-top: 30px;
}

.application .content-big .content-text h2 {
    text-align: left;
}

.application .content-big .content-text p {
    text-align: left;
    padding-bottom: 30px;
}

.application .content-img img {
    width: 80%;
    margin-bottom: -24px;
    margin-top: 30px;
}

.application .icon {
    font-size: 90px;
    padding-top: 10px;
}

/* PLANNING */
.planning {
    background-color: var(--secondary-color);
    padding: 50px 0;
}

.planning .row {
    flex-direction: column;
}

.planning img {
    padding: 20px 0;
    width: 100%;
}

.planning h2 {
    color: white;
    font-size: 30px;
    padding: 50px 0;
}

.planning p {
    color: white;
    line-height: 30px;
    font-weight: 100;
}

.planning .content-right {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    border-radius: 50px;
}

.planning .content-right p {
    padding: 20px 0;
}

.planning .content-right .content-text i {
    border-radius: 50%;
    background-color: #9792E4;
    font-size: 20px;
    padding: 20px 22px;
    margin: 20px 0;
}

/* PARTNERS */
.partners {
    padding: 50px 0;
}

.partners .col {
    width: 100%;
}

.partners .content {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    margin: 10px 0;
    padding: 20px;
    background-color: var(--secondary-color);
}

.testimonial1 {
    background-image: url("../img/testimonial1.jpg");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.testimonial2 {
    background-image: url("../img/testimonial2.jpg");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.testimonial3 {
    background-image: url("../img/testimonial3.jpg");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.partners .content-text {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.partners .content-text h4 {
    font-weight: 100;
    font-size: 18px;
}

.partners .content-text h3 {
    padding: 30px 0;
    font-size: 35px;
    color: var(--secondary-color);
}

.partners .content-text p {
    line-height: 40px;
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 40px;
}

.partners .content .content-text p {
    color: white;
}

.partners .content .content-text .name {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0;
}

.partners .content-img {
    width: 100%;
}

.partners .content-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* WHY US */
.why-us {
    padding: 50px 0;
    background-color: var(--secondary-color);
    text-align: center;
}

.why-us h3 {
    color: white;
    font-size: 35px;
    padding-bottom: 50px;
}

.why-us .col {
    width: 100%;
}

.why-us .content {
    border-radius: 20px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    text-align: left;
    padding: 30px;
}

.why-us .content h2 {
    font-size: 50px;
    color: var(--secondary-color);
}

.why-us .content h3 {
    font-size: 20px;
    color: var(--secondary-color);
    padding: 20px 0;
}

.why-us .content p {
    color: grey;
    line-height: 30px;
    padding-bottom: 30px;
}

.why-us .content a {
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* ABOUT US */
.about-us {
    padding: 50px 0;
}

.about-us .row {
    flex-direction: column;
}

.about-us .col-left,
.about-us .col-right {
    width: 100%;
}

.about-us h2 {
    font-size: 50px;
    color: var(--secondary-color);
}

.about-us p {
    padding: 30px 0;
    line-height: 40px;
}

.about-us h4 {
    font-size: 30px;
    color: var(--secondary-color);
    padding: 40px 0;
}

.about-us .content-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-us .content-img i {
    position: absolute;
    left: 110px;
    font-size: 50px;
    color: var(--secondary-color);
}

/* GET STARTED */
.get-started {
    color: white;
    background-color: var(--secondary-color);
    padding: 50px 0;
}

.get-started .col {
    width: 100%;
}

.get-started .content-text {
    text-align: center;
    padding: 20px;
}

.get-started h6 {
    font-weight: 100;
    font-size: 20px;
    color: lightgray;
    padding-bottom: 30px;
}

.get-started h5 {
    font-size: 30px;
    padding-bottom: 30px;
}

.get-started h4 {
    font-size: 70px;
    color: #FDC15F;
}

.get-started p {
    line-height: 30px;
    padding: 40px 0;
}

.get-started .btn {
    color: var(--secondary-color);
    font-weight: 600;
    border-radius: 30px;
}

.get-started a {
    color: white;
}

/*----------
   FOOTER
 ----------*/
footer {
    text-align: center;
    padding: 50px 0;
    background-color: #333333;
}

footer .col {
    width: 100%;
}

footer p {
    color: white;
    padding: 30px 0;
}

footer a {
    color: var(--secondary-color);
}

/*----------
 RESPONSIVE
 ----------*/
/*--- TABLET ---*/
@media screen and (min-width: 768px) {

    /* DEBUG */
    .debug header::after {
        content: 'TABLET';
    }

    /*----------
       LAYOUT 
    ----------*/
    .container {
        max-width: 720px;
    }

    /*----------
        MAIN
    ----------*/

    /* APPLICATION */
    .application .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .application .col {
        width: calc(100%/3 - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .application .col:first-child {
        width: calc(100%/3*2 - 30px);
    }

    .application .content-big {
        margin-top: 0px;
    }

    /* PLANNING */

    /* PARTNERS */
    .partners .content {
        flex-direction: row;
    }

    .partners .content .content-img {
        width: 25%;
    }

    .partners .content .content-text {
        width: 75%;
    }

    /* WHY US */
    .why-us .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .why-us .col {
        margin: 0 10px;
        width: calc(50% - 20px);
    }

    /* ABOUT US */
    .about-us .row {
        flex-direction: row;
    }

    .about-us .col-left {
        width: 60%;
        margin-right: 30px;
    }

    .about-us .col-right {
        width: 40%;
        margin-left: 30px;
    }

    .about-us .content-img img {
        width: 250px;
        height: 250px;
    }

    .about-us .content-img i {
        left: 180px;
        font-size: 80px;
    }
}

/*--- DESKTOP ---*/
@media screen and (min-width: 992px) {

    /* DEBUG */
    .debug header::after {
        content: 'DESKTOP';
    }

    /*----------
       LAYOUT 
    ----------*/
    .container {
        max-width: 960px;
    }

    /*----------
       HEADER 
    ----------*/
    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    /*----------
        MAIN
    ----------*/

    /* APPLICATION */

    .application .content-big {
        flex-direction: row;
    }

    .application .content-left,
    .application .content-right {
        width: 50%;
    }

    .application .content-text {
        margin: 0 auto;
    }

    .application .content-img {
        margin: 0 auto;
    }

    .application .content-img img {
        min-width: 320px;
    }

    .application .content-img:last-child {}

    /* PLANNING */
    .planning .row {
        flex-direction: row;
    }

    .planning .col {
        width: 50%;
        height: 100%;
        margin: 0 20px;
    }

    .planning .col {
        display: flex;
        align-self: flex-end;
    }

    .planning .content-right img {
        width: 50%;
    }

    /* WHY US */
    .why-us .col {
        margin: 0 10px;
        width: calc(100%/3 - 20px);
    }
}

/*--- DESKTOP XL ---*/
@media screen and (min-width: 1200px) {

    /* DEBUG */
    .debug header::after {
        content: 'DESKTOP XL';
    }

    /*----------
       LAYOUT 
    ----------*/
    .container {
        max-width: 1140px;
    }

}